/* index.css */


@import "tailwindcss"; /* */


:root {
  --brand-gold: #ffffff;
  --bg-dark: #000000;
}
body {
  background-color: var(--bg-dark);
  color: rgb(246, 246, 246);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

